{
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "presets": [
    [
      "latest",
      {
        "loose": true,
        "modules": "commonjs"
      }
    ],
    "stage-1",
    "react"
  ]
}

